<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Aggiungi Film</h1>
    <form th:action="@{/admin/uploadMovie}" method="post" enctype="multipart/form-data" th:object="${movie}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <div>
            <label>Title: </label>
            <span><input type="text" th:field="${movie.title}"></span>
        </div>
        <div>
            <label>Year: </label>
            <span><input required type="text" th:field="${movie.year}"></span>
        </div>

        <div>
            <label>Images:</label>
            <span><input required type="file" name="file" multiple></span>
        </div>
        <div>
            <span><button type="submit">Confirm</button></span>
        </div>
    </form>
</body>
</html>