<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siw Movie - Update Movie</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  <nav>
    <h1><a href="/" id="siw-nav-title">SIWMOVIE</a></h1>
    <h2>Admin - Update Movie</h2>
    <a href="/logout" class="log">LOG OUT</a>
  </nav>
  <h2 th:text="${movie.title}"></h2>
  <div th:if="${movie.director == NULL}">
    Director currently not set
    <a th:href="@{'/admin/addDirector/' + ${movie.id}}"><button>SET DIRECTOR</button></a>
  </div>
  <div th:unless="${movie.director == NULL}">
    <h4>Director:</h4>
    <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Mario Verdi</span>
    <a th:href="@{'/admin/removeDirectorToMovie/' + ${movie.id}}"><button>REMOVE</button></a>
  </div>

  <div th:if="${movie.actors == NULL or movie.actors.isEmpty()}">
    No actors currently set
    <span><a th:href="@{'/admin/updateActorsOnMovie/' + ${movie.id}}"><button>SET ACTORS</button></a></span>
  </div>
  <div th:unless="${movie.actors == NULL or movie.actors.isEmpty()}">
    <h4>Actors: <a th:href="@{'/admin/updateActorsOnMovie/' + ${movie.id}}"><button>EDIT ACTORS</button></a></h4>
    <ul>
      <li th:each="actor : ${movie.actors}" th:text="${actor.name} + ' ' + ${actor.surname} + ' (' + ${#temporals.format(actor.birthDate, 'dd-MM-yyyy')} +')'">
        Franco Califano (20-11-3453)
      </li>
    </ul>
  </div>
</body>
</html>