.card{
    padding: 0 2rem;
    width: 50%;
    margin: 1em auto;
    border: 2px solid #323232;
    border-radius: 1rem;
    background-color: rgb(238, 238, 238);
    transition: 0.6s ease-in-out;
}

.card *{
    text-align: start;
}

.card >div{
    margin-bottom: 1rem;
}

#title{
    text-align: center;
}

.card:hover{
    padding: 0.5rem 2.5rem;
}