:root{
    font-family: 'Courier New', Courier, monospace;
}

*{
    box-sizing: border-box;
    text-align: center;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(223, 223, 223), gray);
}