:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --jet-black: #2A2A2A;
    --fucsia: #f24bd6;
    --yellow: #f2e41b;
    --orange: #f28705;
    --red: #d94141;
}

*{
    box-sizing: border-box;
    margin: 0;
    color: var(--jet-black);
}

body{
    background-color: var(--orange);
}

