h2{
    margin-top: 0.5em;
    margin-bottom: 1em;
}
 
span,input{
    margin-bottom: 6px;
}

input{
    border-radius: 2px;
    border: none;
    height: 1.5em;
}

button{
    margin-top: 4px;
    width:100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: rgb(201, 57, 86);
    box-shadow: -1px 1px 4px rgb(103, 102, 102);
    transition: 0.2s ease-in-out;
}

button:hover{
    box-shadow: -2px 2px 4px 1px rgb(56, 56, 56);
}