.full-container{
    margin: 3rem;
    padding-top: 1.5rem;
}

#movie-info{
    display: flex;
    justify-content: start;
    align-items: start;
}

#movie-title{
    margin-top: 1rem;
}

#movie-pic{
    margin-right: 3rem;
    aspect-ratio: 3/2;
    max-width: 50%;
    border-radius: 16px;
    border: none;
}

.movie-cast img{
    object-fit: contain;
    height: 100%;
}

#director, #actors{
    margin-top: 1rem;
    padding: 1rem;
}

#director a, #actors a{
    max-height: 500px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form{
    margin-top: 2rem;
    border: none;
    border-radius: 25px;
    background-color: var(--purple);
    padding: 1rem;
    box-shadow: 3px 3px 4px var(--jet-black);
    margin-bottom: 1rem;
}

form > *{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    color: var(--cream);
}

form input, form select, form option{
    padding: 15px 14px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 4px var(--jet-black);
    font-size: 1.13rem;
    background-color: var(--cream);
}

form input:focus{
    outline: 2px solid var(--purple);
}

form button{
    color: var(--jet-black);
    padding: 10px 7px;
    border-radius: 12px;    
    border: none;
    background: var(--cream);
    transition: 0.5s ease-in-out;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

form button:hover{
    box-shadow: 2px 2px 5px var(--jet-black);
    cursor: pointer;
}

/* 
L'AUTOCOMPLETE DEI BROWSER MODIFICA LO STYLING DEGLI INPUT
questo è un modo per mantenerlo identico
*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 2px solid var(--purple);
    -webkit-text-fill-color: var(--jet-black);
    -webkit-box-shadow: 0 0 0px 1000px var(--cream) inset;
}

.review {
    border: none;
    border-radius: 25px;
    padding: 1rem
}