<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/updateMovie.css">
    <title>Update Movie</title>
</head>
<body>
    <h2>Update Film</h2>
    <div class="card">
        <h2 id="title" th:text="${movie.title} + ' ' + ${movie.year}">Ciao (2000)</h2>
        <div th:if="${movie.regist == NULL}">Regist currently not set 
            <a th:href="@{'/addDirector' + '/' + ${movie.id}}"><button>Select</button></a>
        </div>
        <div th:if="${movie.regist != NULL}">
            <h4 style="display: inline;" >Regist: </h4>
            <span th:text="${movie.regist.name} + ' ' + ${movie.regist.surname}">Francesco Totti</span>
            <a th:href="@{'/removeDirectorToMovie' + '/' + ${movie.id}}"><button>Remove</button></a>
        </div>
       
        
        <div th:if="${movie.actors.isEmpty()}">No actors currenty set<span><a th:href="@{'/updateActorsOnMovie' + '/' + ${movie.id}}"><button>Modify</button></a></span></div>
        <div th:unless="${movie.actors.isEmpty()}">
            <h4 style="display:inline;">Actors:</h4><a th:href="@{'/updateActorsOnMovie' + '/' + ${movie.id}}"><button>Edit</button></a>
            <ul th:each="actor  : ${movie.actors}">
                <li th:text="${actor.name} + ' ' + ${actor.surname}">Gianni pazzo</li>
            </ul>
            
        </div>
    </div>
</body>
</html>