<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Add new Artist</title>
</head>
<body>
    <h2>Add an artist</h2>
    <form th:action="@{/artists}" method="POST" th:object="${artist}">
        <div>
            <span th:text="${messaggioErrore}"> Errore </span>
        </div>
        <div>
            Name: <span><input required type="text" th:field="${artist.name}"></span>
        </div>
        <div>
            Surname: <span><input required type="text" th:field="${artist.surname}"></span>
        </div>
        <div>
            Birth Date: <span><input type="text" th:field="${artist.dateOfBirth}"></span>
        </div>
        <div>
            Nationality: <span><input type="text" th:field="${artist.nationality}"></span>
        </div>
        <div><span><button type="submit">Conferma</button></span></div>
    </form>
</body>
</html>