<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/indexMovies.css">
    
    <title>Manage Movies</title>
</head>
<body>
    <h2>Manage Movies</h2>
    <a href="/formNewMovie"><button>Add movie</button></a><br>
    <a href="/formSearchMovies"><button>Find movie by year</button></a><br>
    <a href="/manageMovies"><button>Update movies</button></a>
    
</body>
</html>