<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="allmovies.css">
</head>

<body>
    <h1>All movies</h1>
    <div th:if="${movies.isEmpty()}">No films in database</div>
    <ul>
        <li th:each="movie: ${movies}">
            <a th:href="@{'/movies' + '/' + ${movie.id}}" th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2299)</a>
        </li>
    </ul>
</body>

</html>