<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SiwMovie - Movie Page</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/movie.css">
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <h1><a href="/" id="siw-nav-title">SIWMOVIE</a></h1>
        <h2>Movie</h2>
        <a th:if="${userDetails}" href="/logout" class="log">LOG OUT</a>
        <a th:unless="${userDetails}" href="/login" class="log">SIGN IN</a>
    </nav>

    <!-- FILM PAGE -->

    <div th:if="${movie}" class="full-container">
        <div id="movie-info">
            <img th:if="${image}" th:src="@{'data:image/*;base64,'+${image.base64Image}}" id="movie-pic">
            
            <div>
                <h1 id="movie-title" th:text="${movie.title} + ' (' + ${movie.year} + ')' ">Film Title (2020)</h1>
                <div class="movie-cast">

                    <div th:if="${movie.director}" id="director">
                        <h4>Director:</h4>
                        <a th:href="@{'/artist/' +${movie.director.id}}">
                            <!-- <div class="img-inner"><img th:if="${movie.director.profilePicture}" th:src="@{'data:image/*;base64,'+${movie.director.profilePicture.base64Image}}" alt="Actor image"></div> -->
                            <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Mario Rossi</span>
                        </a>
                    </div>

                    <div th:if="${not #lists.isEmpty(movie.actors)}" id="actors">
                        <h4>Actors:</h4>
                        <a th:each="actor : ${movie.actors}" th:href="@{'/artist/' +${actor.id}}">
                            <!-- <div class="img-inner"><img th:if="${actor.profilePicture}" th:src="@{'data:image/*;base64,'+${actor.profilePicture.base64Image}}" alt="Actor image"></div>-->
                            <span th:text="${actor.name} + ' ' + ${actor.surname}">Gianluca Ferrero</span>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
        <div th:if="${review != null}">
            <form th:action="@{'/user/review/' + ${movie.id}}" th:object="${review}" method="post" id="review">
                <span><input type="text" th:field="${review.title}" placeholder="Review Title"></span>
                <span><input type="text" th:field="${review.text}" placeholder="Your review text"></span>
                <span>
                    <select form="review" th:field="${review.rating}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="4">5</option>
                    </select>
                </span>
                <div>
                    <span><button type="submit">Confirm</button></span>
                </div>
            </form>
        </div>

        <div th:if="${not #lists.isEmpty(movie.reviews)}">
            <ul th:each = "review : ${movie.reviews}">
                <li th:text="${review.author + ' ' + review.title + ' ' +  review.text}"></li>
            </ul>
            <span th:if="${reviewError}" th:text="${reviewError}"></span>
        </div>

    </div>
    
    <div th:unless="${movie}">
        This film does not exists
    </div>
</body>
</html>