<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Actors</title>
</head>
<body>
    <div th:if="${!movie.getActors().isEmpty()}">
        Acting in this film
        <ul>
            <li th:each="actor : ${movie.getActors()}">
                <span th:text="${actor.name} + ' ' + ${actor.surname} + ' (' + ${actor.nationality} +' - ' + ${actor.dateOfBirth} + ')'"></span>
            </li>
        </ul>
    </div>
    <div th:if="${!notActing.isEmpty()}">
        Artists not acting in this film
        <ul>
            <li th:each="artist : ${notActing}">
                <span th:text="${artist.name} + ' ' + ${artist.surname} + ' (' + ${artist.nationality} +' - ' + ${artist.dateOfBirth} + ')'"></span>
                <span>
                    <a th:href="@{ '/addActorToMovie' + '/' + ${movie.id} + '/' + ${artist.id} }"><button>Set as actor</button></a>
                </span>
            </li>
        </ul>
    </div>
</body>
</html>